body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


#map{
    width: 100px;
    height:100px;
    min-height: 100%;
    min-width: 100%;
    display: block;
}